

@model IndexVM[]

   
    
    <ul>
        @{
            foreach(var employee in Model)
            {
                <li id="@employee.ID" s>
                    @if (employee.ShowAsHighlighted)
                {
                  
                   <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.ID" style="color:red">@employee.Name</a>
                  
                }else
                {
                    <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.ID">@employee.Name</a> 
                }
                </li>
            }
        }
    </ul>




